.section-box-crypto {
	padding-top: 9em;
	padding-bottom: 9em;
	.name {
		color: $color_black;
		font-size: 4.2em;
		font-weight: 300;
		line-height: 1.2em;
		text-align: center;
	}
	.title {
		color: $color_text;
		font-size: 1.6em;
		line-height: 1.6em;
		text-align: center;
		padding-top: 2em;
	}
	&_item {
		justify-content: space-between;
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		padding-top: 9em;
		.items {
			padding: 0 16px;
			width: 14%;
			position: relative;
			.box-icon {
				padding-bottom: 3.6em;
				text-align: center;
			}
			.text {
				color: $color_text;
				font-size: 1.6em;
				line-height: 1.6em;
				text-align: center;
			}
			&:not(:last-child) {
				&:after {
					content: '';
					position: absolute;
					top: 30px;
					right: 0;
					height: 60px;
					border: 1px solid #CDDBF2;
					opacity: 0.5;
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.section-box-crypto{
		&_item{
			flex-wrap: wrap;
			justify-content: center;
			.items{
				width: 22%;
				.box-icon {
					padding-bottom: 1em;
				}
			}
		}
	}
}
@media(max-width: 767px) {
	.section-box-crypto{
		padding-top: 4em;
		padding-bottom: 4em;
		.name,.title{
			text-align: left;
		}
		&_item{
			padding-top: 4em;
			.items {
				width: 100%;
				padding: 2px;
				align-items: center;
				display: flex;
				flex-direction: row;
				border-bottom: 2px solid #cddbf2;
				.text{
					text-align: left;
				}
				.box-icon {
					padding-bottom: 0;
				}
				&:not(:last-child) {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}