<div class="section-box-crypto">
	<div class="container">
		<div class="name" data-aos="fade-left" data-aos-delay="50">
			Supported crypto currencies
		</div>
		<div class="title" data-aos="fade-left" data-aos-delay="150">
			Unified crypto wallet framework enables support of any digital asset, including:
		</div>
		<div class="section-box-crypto_item">
			<div class="items" data-aos="fade-left" data-aos-delay="200">
				<div class="box-icon">
					<i class="icon icon-crypto icon-crypto-1"></i>
				</div>
				<div class="text">
					Bitcoin and all its forks (Bitcoin Cash, Bitcoin gold)
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="250">
				<div class="box-icon">
					<i class="icon icon-crypto  icon-crypto-2"></i>
				</div>
				<div class="text">
					Litecoin
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="300">
				<div class="box-icon">
					<i class="icon icon-crypto  icon-crypto-3"></i>
				</div>
				<div class="text">
					Ethereum
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="350">
				<div class="box-icon">
					<i class="icon icon-crypto  icon-crypto-4"></i>
				</div>
				<div class="text">
					Privacy based coins
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="400">
				<div class="box-icon">
					<i class="icon icon-crypto  icon-crypto-5"></i>
				</div>
				<div class="text">
					Alternative consensus blockchains
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="450">
				<div class="box-icon">
					<i class="icon icon-crypto  icon-crypto-6"></i>
				</div>
				<div class="text">
					Hundreds of existing coins
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="500">
				<div class="box-icon">
					<i class="icon icon-crypto  icon-crypto-7"></i>
				</div>
				<div class="text">
					Custom ERC20, ERC223, and ERC777 tokens
				</div>
			</div>
		</div>
	</div>
</div>