<div class="section-box-features">
	<div class="container">
		<div class="section-box-features_name" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100">The most
			robust core solution
		</div>
		<div class="section-box-features_items">
			<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="50">
				<div class="item-name">
					<div class="box-icon">
						<i class="icon icon-feature-1"></i>
					</div>
					<div class="name">Resistance to high loads</div>
				</div>
				<div class="text">A convenient and transparent back-office solution for high load user operations
				</div>
			</div>
			<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="150">
				<div class="item-name">
					<div class="box-icon">
						<i class="icon icon-feature-2"></i>
					</div>
					<div class="name">TradingView charts</div>
				</div>
				<div class="text">With a complete set of tools to draw, download and share charts with others.</div>
			</div>
			<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
				<div class="item-name">
					<div class="box-icon">
						<i class="icon icon-feature-3"></i>
					</div>
					<div class="name">Liquidity Aggregator</div>
				</div>
				<div class="text">Increases the depth of your order book and provides new sources of revenue.</div>
			</div>
			<div class="item" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="350">
				<div class="item-name">
					<div class="box-icon">
						<i class="icon icon-feature-4"></i>
					</div>
					<div class="name">Enterprise Crypto Banking</div>
				</div>
				<div class="text">A secure and convenient wallet / banking solution for all sizes of businesses</div>
			</div>
		</div>
	</div>
</div>