.section-box-features {
	position: relative;
	background-color: #F5F7FC;
	padding-top: 10em;
	padding-bottom: 33em;
	&_name {
		color: #000000;
		font-size: 4.2em;
		font-weight: 300;
		line-height: 1.2em;
		text-align: center;
		padding-bottom: 1.2em;
	}
	&_text {
		color: #1C1E49;
		font-size: 1.6em;
		line-height: 1.8em;
		text-align: center;
		padding-bottom: 80px;
	}
	&_items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		.item {
			width: 24%;
			.item-name {
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				padding-bottom: 22px;
				.box-icon {
					width: 6em;
				}
				.name {
					color: #263858;
					font-size: 1.6em;
					font-weight: bold;
					line-height: 1.6em;
					width: calc(100% - 6em);
				}
			}
			padding-bottom: 3.6em;
			.text {
				color: #263858;
				font-size: 1.6em;
				line-height: 1.6em;
				
			}
		}
	}
}

@media(max-width: 1024px) {
	.section-box-features {
		padding-top: 4em;
		padding-bottom: 25em;
		&_name {
			font-size: 2.8em;
			padding-bottom: 0.7em;
		}
		&_text {
			padding-bottom: 24px;
		}
	}
}

@media(max-width: 767px) {
	.section-box-features {
		
		&_items {
			flex-direction: column;
			.item {
				width: 100%;
				padding-bottom: 1.6em;
			}
		}
	}
}