.flag{
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	margin-top: -2px;
	margin-right: 0.5em;
	border-radius: 18px;
	&-en{
		background-image: url("../images/lang/en.png");
	}
}