.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-top: -2px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	&-left {
		margin-right: 5px;
	}
	&-right {
		margin-left: 5px;
	}
	&-down {
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		transform: rotate(135deg);
		width: 6px;
		height: 6px;
		margin-top: -4px;
		border-top: 2px solid #2d68f6;
		border-right: 2px solid #2d68f6;
		display: inline-block;
		vertical-align: middle;
	}
	&-arrow {
		width: 18px;
		height: 18px;
		background-image: url(../images/icon/arrow-right.svg);
	}
	&-turnkey {
		width: 120px;
		height: 120px;
		&-1 {
			background-image: url(../images/icon/Tech.svg);
		}
		&-2 {
			background-image: url(../images/icon/Customization.svg);
		}
		&-3 {
			background-image: url(../images/icon/Scalible.svg);
		}
		&-4 {
			background-image: url(../images/icon/Sec-upd.svg);
		}
		&-5 {
			background-image: url(../images/icon/Monitoring.svg);
		}
		&-6 {
			background-image: url(../images/icon/Easy.svg);
		}
		&-7 {
			background-image: url(../images/icon/Support.svg);
		}
	}
	
	&-crypto {
		width: 120px;
		height: 120px;
		&-1 {
			background-image: url(../images/icon/Bitcoin.svg);
		}
		&-2 {
			background-image: url(../images/icon/Bitcoin_Copy.svg);
		}
		&-3 {
			background-image: url(../images/icon/Ethereum.svg);
		}
		&-4 {
			background-image: url(../images/icon/Privacy.svg);
		}
		&-5 {
			background-image: url(../images/icon/Altconsensus.svg);
		}
		&-6 {
			background-image: url(../images/icon/Existing.svg);
		}
		&-7 {
			background-image: url(../images/icon/ERC.svg);
		}
	}
	&-work{
		width: 120px;
		height: 120px;
		&-1 {
			background-image: url(../images/icon/Num1.svg);
		}
		&-2 {
			background-image: url(../images/icon/Num2.svg);
		}
		&-3 {
			background-image: url(../images/icon/Num3.svg);
		}
		&-4 {
			background-image: url(../images/icon/Num4.svg);
		}
		&-5 {
			background-image: url(../images/icon/Num5.svg);
		}
		&-6 {
			background-image: url(../images/icon/Num6.svg);
		}
		&-7 {
			background-image: url(../images/icon/Num7.svg);
		}
	}
	
	&-custom-1 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/settings.svg);
	}
	&-custom-2 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/graph.svg);
	}
	&-custom-3 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/data.svg);
	}
	&-custom-4 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/config.svg);
	}
	&-custom-5 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/5.png);
	}
	&-custom-6 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/ICO.svg);
	}
	&-custom-7 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/add_user.svg);
	}
	&-custom-8 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/coins.svg);
	}
	&-custom-9 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/report.svg);
	}
	&-custom-10 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/chain.svg);
	}
	
	
	&-tools-1 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/kyc.svg);
	}
	&-tools-2 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/integration.svg);
	}
	&-tools-3 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/ui.svg);
	}
	&-tools-4 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/wallets.svg);
	}
	&-feature-1 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/highload.svg);
	}
	&-feature-2 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/customizable.svg);
	}
	&-feature-3 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/data1.svg);
	}
	&-feature-4 {
		width: 42px;
		height: 42px;
		background-image: url(../images/icon/management.svg);
	}
}