@media(min-width: 1025px) {
	.hide-desktop {
		display: none;
	}
}

@media(max-width: 1024px) {
	body {
		font-size: 8px;
	}
	.hide-tablet {
		display: none;
	}
	.h1, h1 {
		font-size: 2.8em;
	}
	.icon {
		&-turnkey {
			width: 80px;
			height: 80px;
		}
		&-crypto {
			width: 80px;
			height: 80px;
		}
		&-work{
			width: 80px;
			height: 80px;
		}
	}
}

@media(min-width: 768px) {
	.show-mobile {
		display: none !important;
	}
}

@media(max-width: 767px) {
	.hide-mobile {
		display: none;
	}
	.btn-blue {
		width: 230px;
	}
}