<div class="section-box-turnkey">
	<div class="container_max">
		<div class="name" data-aos="fade-left" data-aos-delay="50">
			Turnkey solution that ticks all the right boxes
		</div>
		<div class="section-box-turnkey_item">
			<div class="items" data-aos="fade-left" data-aos-delay="100">
				<div class="box-icon">
					<i class="icon icon-turnkey icon-turnkey-1"></i>
				</div>
				<div class="text">
					Latest production-tested technology
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="200">
				<div class="box-icon">
					<i class="icon icon-turnkey  icon-turnkey-2"></i>
				</div>
				<div class="text">
					Customisable interface
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="300">
				<div class="box-icon">
					<i class="icon icon-turnkey  icon-turnkey-3"></i>
				</div>
				<div class="text">
					Fast-track verification
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="400">
				<div class="box-icon">
					<i class="icon  icon-turnkey icon-turnkey-4"></i>
				</div>
				<div class="text">
					Instant transactions
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="500">
				<div class="box-icon">
					<i class="icon  icon-turnkey icon-turnkey-5"></i>
				</div>
				<div class="text">
					Comprehensive analytics suite
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="600">
				<div class="box-icon">
					<i class="icon icon-turnkey  icon-turnkey-6"></i>
				</div>
				<div class="text">
					Smart notifications
				</div>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="700">
				<div class="box-icon">
					<i class="icon  icon-turnkey icon-turnkey-7"></i>
				</div>
				<div class="text">
					Multi-asset wallets
				</div>
			</div>
		</div>
		<a href="/" class="btn btn-blue btn-blue_mini" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="700">Schedule
			a Demo</a>
	</div>
</div>