<div class="section-top-full">
	<div class="container">
		<div class="section-top-full__content">
			<div class="title">
				<div class="text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
					Reliability. Scalability. Fairness.
				</div>

				<h1 data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">Custom Built
					<br/>Exchange Software
				</h1>

				<a href="#demo" class="btn btn-blue scroll-page" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="700">Request demo <i class="icon icon-arrow"></i></a>
			</div>
		</div>
	</div>
	<div class="follow"></div>
</div>