.section-top-full {
	padding-top: 8.7em;
	min-height: calc(100vh);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background: linear-gradient(135deg, #F9F9F9 0%, #E2E8F4 100%);
	&:after {
		content: '';
		background-image: url(../images/img/fon.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		right: -30%;
		bottom: 0;
		height: 100%;
		position: absolute;
		z-index: 0;
		width: 100%;
	}
	.container {
		z-index: 1;
	}
	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.title {
		position: relative;
		h1 {
			padding-bottom: 2em;
		}
		.text {
			color: #9296AB;
			font-size: 1.6em;
			line-height: 1.2em;
			font-weight: bold;
			padding-bottom: 3em;
			text-transform: uppercase;
		}
	}
	
	.follow {
		position: absolute;
		height: 25.5px;
		z-index: 1;
		width: 18px;
		border: 1.5px solid #004BFF;
		border-radius: 10px;
		left: 50%;
		margin-left: -14px;
		bottom: 50px;
		&:after {
			content: '';
			position: absolute;
			top: 7px;
			left: 6px;
			height: 4px;
			width: 2px;
			border-radius: 10px;
			background-color: #004BFF;
		}
	}
}

@media(max-width: 1380px) {
	.section-top-full {
		.title {
			width: 60%;
		}
	}
}

@media(max-width: 1280px) {
	.section-top-full {
		&__content {
			flex-direction: column;
			.btn-blue {
				margin: 0 auto;
			}
		}
		.title {
			width: 100%;
			text-align: center;
		}
	}
}

@media(max-width: 1024px) {
	.section-top-full {
		.title {
			padding-left: 0;
			.text {
				font-size: 1.8em;
				padding-bottom: 2em;
			}
		}
	}
}
