<div class="section-box-custom">
	<div class="container">
		<div class="section-box-custom_text">
			<div class="name" data-aos="fade-left" data-aos-delay="50">
				Custom tailored components
			</div>
			<div class="info">
				The trading platform allows to:
			</div>
			<div class="section-box-custom_items">
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="50">
					<div class="box-icon">
						<i class="icon icon-custom-1"></i>
					</div>
					<div class="text">Set own exchange operation rules</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="100">
					<div class="box-icon">
						<i class="icon icon-custom-2"></i>
					</div>
					<div class="text">Perform or facilitate exchange market-making</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="150">
					<div class="box-icon">
						<i class="icon icon-custom-3"></i>
					</div>
					<div class="text">Own real-time and historic trading data</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="200">
					<div class="box-icon">
						<i class="icon icon-custom-4"></i>
					</div>
					<div class="text">Set your own pricing and spread</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
					<div class="box-icon">
						<i class="icon icon-custom-5"></i>
					</div>
					<div class="text">Manage portfolios</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
					<div class="box-icon">
						<i class="icon icon-custom-6"></i>
					</div>
					<div class="text">Facilitate initial coin offerings (ICOs)</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="350">
					<div class="box-icon">
						<i class="icon icon-custom-7"></i>
					</div>
					<div class="text">Create and administer users with various permission levels</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
					<div class="box-icon">
						<i class="icon icon-custom-8"></i>
					</div>
					<div class="text">List any digital assets: coins, stocks, tokens, securities</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="450">
					<div class="box-icon">
						<i class="icon icon-custom-9"></i>
					</div>
					<div class="text">Manage accounting, bookkeeping and reporting</div>
				</div>
				<div class="item"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="500">
					<div class="box-icon">
						<i class="icon icon-custom-10"></i>
					</div>
					<div class="text">Partner with other exchanges, source liquidity and perform OTC</div>
				</div>
			</div>
		</div>
		<div class="section-box-custom_img" data-aos="fade-left" data-aos-delay="550">
			<img src="images/img/images.png" alt="">
		</div>
	</div>
</div>