.section-box-custom{
	position: relative;
	padding-top: 9em;
	padding-bottom: 9em;
	.container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}
	&_text {
		width: 49%;
		.name {
			color: $color_black;
			max-width: 505px;
			font-size: 4.2em;
			line-height: 1.2em;
		}
		.info {
			color: $color_text;
			font-size: 1.6em;
			line-height: 2em;
			padding-top: 14px;
			padding-bottom: 55px;
		}
	}
	&_img {
		width: 49%;
		position: relative;
	}
	&_items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: end;
		.item {
			width: 48%;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			padding-bottom: 20px;
			padding-top: 20px;
			.box-icon {
				width: 6em;
			}
			.text {
				width: calc(100% - 6em);
				opacity: 0.8;
				color: #1C1E49;
				font-size: 14px;
				line-height: 24px;
				.name {
					color: #1C1E49;
					font-size: 18px;
					font-weight: bold;
					line-height: 27px;
					padding-bottom: 10px;
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.section-box-custom{
		.container {
			flex-direction: row;
			flex-wrap: wrap;
		}
		&_text {
			width: 100%;
		}
		&_img {
			width: 80%;
			margin: 0 auto;
		}
	}
}

@media(max-width: 767px) {
	.section-box-custom{
		padding-top: 4em;
		padding-bottom: 4em;
		&_text {
			.info {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		&_items {
			.item {
				width: 100%;
				padding-bottom: 25px;
				padding-top: 0;
			}
		}
		&_img {
			width: calc(100% + 30px);
			margin: 0 -15px;
		}
	}
}