.section-tools {
	background: $color_blue_1;
	padding-top: 6em;
	text-align: center;
	position: relative;
	&:before {
		background: url("../images/img/blue-pattern.png") repeat;
		width: 100%;
		left: 0;;
		height: 100%;
		position: absolute;
		top: 0;
		content: '';
		//opacity: 0.2;
	}
	.name {
		color: $color_white;
		font-size: 4.2em;
		font-weight: 300;
		line-height: 1.3em;
		text-align: center;
	}
	&-image {
		margin-top: 5em;
		position: relative;
		&:after {
			width: 100%;
			left: 0;
			height: 80%;
			position: absolute;
			bottom: 0;
			content: '';
			@include bg_gradient_blue;
		}
		
	}
	&-list {
		@include block_flex;
		@include flex_justify_between;
		max-width: 1280px;
		margin: 0 auto;
		margin-top: 5em;
		position: relative;
		z-index: 1;
	}
	&-item {
		text-align: center;
		padding: 0 1em;
		margin-bottom: 2em;
		width: 25%;
		.title {
			padding-top: 1.2em;
			color: #FCFCFC;
			font-size: 1.6em;
			line-height: 1.5em;
			text-align: center;
		}
	}
	.text {
		padding-top: 45px;
		text-align: center;
		line-height: 1.6em;
		color: $color_white;
		font-size: 1.6em;
		span {
			opacity: 0.5;
			display: block;
			font-style: italic;
			padding-bottom: 22px;
		}
	}
}

@media(max-width: 767px) {
	.section-tools{
		.name{
			text-align: left;
			font-size: 3em;
		}
		&-list{
			flex-wrap: wrap;
		}
		&-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			padding-bottom: 3.5em;
			.title {
				padding-top: 0;
				padding-left: 14px;
				text-align: left;
			}
		}
		.text{
			padding-top: 20px;
			text-align: left;
		}
		&-image{
			.container{
				width: auto;
				margin-right: -80%;
			}
		}
	}
}