<section class="section-tools">
	<div class="container">
		<div class="name" data-aos="fade-up">Exchange supported modules</div>
		<div class="section-tools-list" data-aos="fade-up" data-aos-delay="200">
			<div class="section-tools-item">
				<div class="box-icon"><i class="icon icon-tools-1"></i></div>
				<div class="title">AML/KYC integration</div>
			</div>
			<div class="section-tools-item">
				<div class="box-icon"><i class="icon icon-tools-2"></i></div>
				<div class="title">Any payment integrations</div>
			</div>
			<div class="section-tools-item">
				<div class="box-icon"><i class="icon icon-tools-3"></i></div>
				<div class="title">Easy, clean, friendly user interface for web and mobile apps</div>
			</div>
			<div class="section-tools-item">
				<div class="box-icon"><i class="icon icon-tools-4"></i></div>
				<div class="title">Hot, warm and cold electronic wallets (online and offline storage)</div>
			</div>
		</div>
		<div class="text" data-aos="fade-up" data-aos-delay="100">
			<span>as well as</span>
			<p>
				Security, CRM integrations, Risk management, Backoffice accounting integration, Data holding, Custom
				reports and more.
			</p>
		</div>
	</div>
	<div class="section-tools-image" data-aos="fade-up" data-aos-delay="300">
		<div class="container">
			<img src="images/img/exchange.png" alt="">
		</div>
	</div>
</section>

