<div class="section-box-work">
	<div class="container">
		<div class="title" data-aos="fade-left" data-aos-delay="50">
			Launch in as little as in 6 weeks
		</div>
		<div class="name" data-aos="fade-left" data-aos-delay="150">
			How does it work?
		</div>

		<div class="section-box-work_item">
			<div class="items active" data-aos="fade-left" data-aos-delay="100">
				<div class="items-info">
					<div class="box-icon">
						<i class="icon icon-work  icon-work-1"></i>
					</div>
					<div class="text">
						Shareholder
						due-diligence
					</div>
				</div>
				<a href="/" class="btn btn-blue btn-blue_mini">start</a>
			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="200">
				<div class="items-info">
					<div class="box-icon">
						<i class="icon icon-work icon-work-2"></i>
					</div>
					<div class="text">
						Incorporation
					</div>
				</div>
				<a href="/" class="btn btn-blue btn-blue_mini">start</a>

			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="300">
				<div class="items-info">
					<div class="box-icon">
						<i class="icon icon-work  icon-work-3"></i>
					</div>
					<div class="text">
						Licensing and Banking solution
					</div>
				</div>
				<a href="/" class="btn btn-blue btn-blue_mini">start</a>

			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="400">
				<div class="items-info">
					<div class="box-icon">
						<i class="icon icon-work  icon-work-4"></i>
					</div>
					<div class="text">
						Design
					</div>
				</div>
				<a href="/" class="btn btn-blue btn-blue_mini">start</a>

			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="500">
				<div class="items-info">
					<div class="box-icon">
						<i class="icon icon-work  icon-work-5"></i>
					</div>
					<div class="text">
						Deposit accounts
					</div>
				</div>
				<a href="/" class="btn btn-blue btn-blue_mini">start</a>

			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="600">
				<div class="items-info">
					<div class="box-icon">
						<i class="icon  icon-work icon-work-6"></i>
					</div>
					<div class="text">
						Private keys management training
					</div>
				</div>
				<a href="/" class="btn btn-blue btn-blue_mini">start</a>

			</div>
			<div class="items" data-aos="fade-left" data-aos-delay="700">
				<div class="items-info">
					<div class="box-icon">
						<i class="icon  icon-work icon-work-7"></i>
					</div>
					<div class="text">
						Marketing launch
					</div>
				</div>
				<a href="/" class="btn btn-blue btn-blue_mini">start</a>

			</div>
		</div>
	</div>
</div>