.section-box-work {
	padding-top: 9em;
	padding-bottom: 9em;
	.title {
		font-size: 1.6em;
		line-height: 1.6em;
		text-align: center;
		padding-bottom: 14px;
		color: #9296AB;
		font-weight: bold;
	}
	.name {
		color: $color_black;
		font-size: 4.2em;
		font-weight: 300;
		line-height: 1.2em;
		text-align: center;
	}
	
	&_item {
		justify-content: space-between;
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		padding-top: 9em;
		padding-bottom: 9em;
		.items {
			justify-content: space-between;
			align-items: center;
			display: flex;
			flex-direction: column;
			padding: 24px 16px 44px;
			//width: 14%;
			flex: 7 1 0;
			position: relative;
			min-height: 325px;
			@include web_transition(all .2s ease-in-out);
			
			.box-icon {
				text-align: center;
			}
			.text {
				color: $color_text;
				font-size: 1.6em;
				line-height: 1.6em;
				text-align: center;
			}
			&:not(:last-child) {
				&:after {
					content: '';
					position: absolute;
					top: 30px;
					right: 0;
					height: 60px;
					border: 1px solid #CDDBF2;
					opacity: 0.5;
				}
			}
			.btn {
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				width: 100px;
				opacity: 0;
			}
			&.active {
				@include web_transition(all .2s ease-in-out);
				background-color: #F5F7FC;
				box-shadow: 0 6px 14px 0 rgba(5, 55, 136, 0.05);
				.btn {
					@include web_transition(all .2s ease-in-out);
					opacity: 1;
					z-index: 1;
				}
				&:after {
					display: none;
				}
			}
		}
	}
	
}



@media(max-width: 1024px) {
	.section-box-work {
		&_item {
			overflow-x: scroll;
		}
	}
}
@media(max-width: 767px) {
	.section-box-work {
		padding-top: 4em;
		padding-bottom: 4em;
		&_item {
			.items {
				padding: 10px;
				min-height: 220px;
			}
		}
	}
}