<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="index.html"><img src="images/icon/logo.svg"></a>
            <div class="header-nav" id="navbar">
                <ul class="nav">
                    <li class="active"><a href="/">About</a></li>
                    <li><a href="/">Overview</a></li>
                    <li><a href="/">Benefits</a></li>
                    <li><a href="/">Modules</a></li>
                    <li><a href="/">Launch process</a></li>
                    <li><a href="/">Contacts</a></li>
                </ul>
            </div>
            <div class="header-menu">
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>