<div class="section-box-why">
	<div class="container">
		<div class="section-box-why_text">
			<div class="name" data-aos="fade-left" data-aos-delay="50">
				Set up your exchange right away
			</div>
			<div class="text">
				The solution was developed by software engineers with expertise in high load trading systems and other
				blockchain related projects. Team's ability to master the most advanced technologies enabled our
				solution to ensure best practices to deliver unmatched performance, reliability and security.
			</div>
			<div class="text">
				SociumEX combines the performance of a centralised exchange with the trust and security properties of a
				decentralized exchange. The system consists of three main components: an off-chain trade matching
				engine, a smart contract where funds are stored and a clearing service to trigger funds distribution.
			</div>
		</div>
		<div class="section-box-why_img" data-aos="fade-left" data-aos-delay="550">
			<img src="images/img/Bitmap.png" alt="">
		</div>
	</div>
</div>