.section-box-why {
	position: relative;
	padding-top: 9em;
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&_text {
		width: 42%;
		.name {
			color: $color_black;
			max-width: 505px;
			font-size: 4.2em;
			line-height: 1.5em;
		}
		.text {
			color: $color_text;
			font-size: 1.6em;
			line-height: 2em;
			padding-top: 35px;
			padding-bottom: 15px;
		}
	}
	&_img {
		width: 57%;
		position: relative;
	}
}

@media(max-width: 1024px) {
	.section-box-why {
		&_text {
			.name {
				color: $color_black;
				font-size: 2.8em;
			}
		}
		&_item {
			.item {
				.text {
					font-size: 1.6em;
				}
			}
		}
		&_img {
			&:after {
				width: 20em;
				height: 20em;
				
			}
			&:before {
				width: 20em;
				height: 20em;
				
			}
		}
	}
}

@media(max-width: 767px) {
	.section-box-why {
		padding-top: 0;
		&_text {
			width: 100%;
		}
		&_img{
			width: 100%;
			margin: 30px auto 0;
		}
		.container{
			flex-wrap: wrap;
		}
	}
}
