.section-box-request {
	padding-bottom: 3em;
	&_content {
		background-color: #fff;
		margin-top: -25em;
		padding: 70px 40px;
		box-shadow: 0 10px 20px 10px rgba(0,46,118,0.15);
	}
	&_text {
		max-width: 430px;
		width: 100%;
		.name {
			color: #000000;
			font-size: 4.8em;
			font-weight: 300;
			line-height: 1.2em;
			padding-bottom: 1.3em;
		}
		.text {
			color: #1C1E49;
			font-size: 1.6em;
			line-height: 1.8em;
			padding-bottom: 1.4em;
		}
		a {
			color: #004BFF;
			font-size: 3.2em;
			line-height: 38px;
		}
	}
	&_info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		max-width: 1140px;
		margin: 0 auto;
	}
	&_form {
		max-width: 460px;
		width: 100%;
		textarea {
			resize: none !important;
		}
		.btn{
			margin-top: 40px;
		}
	}
}

@media(max-width: 767px) {
	.section-box-request {
		&_content {
			padding: 25px;
		}
		&_text {
			max-width: 100%;
			.name {
				font-size: 3.2em;
			}
			a {
				font-size: 2.2em;
				margin-bottom: 20px;
				display: block;
			}
		}
		&_info {
			flex-wrap: wrap;
		}
		&_form {
			max-width: 100%;
			.btn{
				margin-top: 20px;
			}
		}
	}
}